.custom-label {
  position: relative;
}

.label-text {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: -8px;
  left: -40px;
  background-color: floralwhite;
  padding: 0 5px;
  font-size: 12px;
  font-weight: bold;
  color: #a343f3;
  z-index: 2;
}

.input {
  display: flex;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid #a343f3;
  background-color: floralwhite;
  padding: 12px 40px;
  width: 100px;
  font-size: 14px;
  border-radius: 3px;
  outline: none;
}

