.app {
  display: grid;
}

.app-container {
  display: grid;
  min-width: 320px;
  grid-template-columns: 1fr;
  grid-template-rows: 120px 1fr 120px;
  text-align: center;
  margin: 20px auto;
}

.header {
  display: grid;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: #e4d7ee;
  padding: 10px 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px
}

.message {
  font-size: 16px;
  color: #a343f3;
}

.main-section {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(25px, 1fr));
  gap: 20px;
  align-items: center;
  background-color: transparent;
  padding: 15px 0;
}

.weekday-information {
  display: flex;
}

.custom-label--large {
  display: flex;
  position: relative;
}

.user-icon {
  position: absolute;
  left: 12px;
  top: 11px;
  z-index: 0;
}

.angle-down-icon {
  position: absolute;
  right: 20px;
  top: 11px;
  z-index: 0;
}

.label-text--large {
  position: absolute;
  display: flex;
  justify-content: center;
  top: -4px;
  left: 20px;
  background-color: #e4d7ee;
  padding: 0 5px;
  font-size: 12px;
  font-weight: bold;
  color: #a343f3;
  z-index: 3;
}

.input--large {
  display: flex;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid #a343f3;
  background-color: rgba(255, 250, 240, 0);
  padding: 10px 40px;
  width: 275px;
  font-size: 12px;
  border-radius: 3px;
  outline: none;
  z-index: 2;
}

.progress-bar--wrapper {
  display: flex;
  position: absolute;
  top: 40%;
  left: -50%;
  right: -50%;
  justify-content: center;
  align-items: center;
  height: 10px;

}

.progress-bar--container {
  position: relative;
  height: 15px;
  width: 70px;
  background-color: #e5e5e5;
  border-radius: 5px;
}

.progress-bar {
  position: absolute;
  height: 100%;
  background-color: #f18b06;
  border-radius: 5px;
  animation: progress-bar-animation 0.5s infinite;
  z-index: 3;
}

@keyframes progress-bar-animation {
  0% {width: 0}
  100% {width: 100%}
}

.row-item {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 50px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

.daily-pay {
  display: flex;
  gap: 5px;
  justify-content: end;
}

.footer {
  display: grid;
  align-items: center;
  background-color: #e4d7ee;
  padding: 5px 30px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px
}

.footer__item {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
