.app {
  display: grid;
  text-align: center;
  margin: 20px auto;
}

.app-container {
  display: grid;
  min-width: 320px;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr 100px;
}

.header {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #e4d7ee;
  padding: 10px 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px
}

.main-section {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(25px, 1fr));
  gap: 20px;
  align-items: center;
  background-color: floralwhite;
  padding: 15px 0;
}

.message {
  //padding: 0 20px;
  font-size: 16px;
  color: #a343f3;
}

.weekday-information {
  display: flex;
}

.footer {
  display: grid;
  align-items: center;
  background-color: #e4d7ee;
  padding: 5px 30px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px
  }

.footer__item {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
